html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.6;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#ffad2f;
}

* {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,li{
  list-style: none;
}
.weui-input {
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.47058824em;
  line-height: 1.47058824;
}
.weui-input::-webkit-outer-spin-button,
.weui-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button.weui-btn,
input.weui-btn {
  width: 100%;
  border-width: 0;
  outline: 0;
  -webkit-appearance: none;
}

button.weui-btn:focus,
input.weui-btn:focus {
  outline: 0;
}
.btn{
  display:block;
  border-radius:50px;
  padding:5px;
  background-image: url("./images/btn.png");
  text-align:center;
  margin:0 auto;
  color:#f8563e;
  -moz-box-shadow:0px 3px 12px #fb794f;
  -webkit-box-shadow:0px 3px 12px #fb794f;
  box-shadow:0px 3px 12px #fb794f;
}
.weui-vcode-btn {
  display: inline-block;
  vertical-align: middle;
  color: #ff702a;
  width:120px;
}

button.weui-vcode-btn {
  background-color: transparent;
  border:0;
  outline: 0;
}

.weui-vcode-btn:active {
  color: #ff6012;
}
.flex{
    display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-c{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
}
.flex-r{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.just-c{
  justify-content:space-between;
  align-items: center
}
.form-ul{
  margin-bottom:10px;
}
.form-li{
  border-radius:50px;
  padding:5px 10px;
  background:#fff;
}
.form-con{
  width:80%;
  margin:0 auto;
  margin-top:114%;
}
.warn{
  color:#E64340;
  font-size:12px;
  padding:0 10px;
}